@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
  }
  

  .openingCover{
    height: 100vh;
    background-image: url('./image/openingCover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: inherit;
    background-position: center;
  }



  .introductory{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('./image/backCover5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: inherit;
    background-position: center;
    background-blend-mode: lighten;
  }

  .nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
    position: fixed;
  }

  .cards{
    width: 100%;
    margin-top: 220px;
  }

  .expand{
    width: 100%;
    border: none;
    background-color: white;
    font-size: 2em;
    padding-top: 5px;
    outline: none;
  }

  .expand:hover{
    cursor: pointer;
    font-size: 2.4em;
    transition: ease-in-out;
    transition-duration: 0.5s;
  }

  .sigil img{
    height: 20vh;
    width: 20vh;
    padding-top: 10px;
  }

  .extraInfo{
    display: none;
  }
  
  .container{
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url('./image/backCover3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: inherit;
    background-position: center;
  }
  
  .heading{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    color: white;
  }
  
  .row{
    background-color: white;
    display: flex;
    border: none;
    flex-direction: row;
    border-radius: 3vh;
    border-bottom: none;
    /* animation: fadeOut 1s linear infinite;
    animation-play-state: paused; */
  }
  
  .prof{
    display: flex;
    justify-content: center;
  }
  
  .card{
    width: 500px;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .btn{
    flex-grow: 100%;
    padding: 10px;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 3vh;
    width: 100%;
    opacity: 0.7;
    outline: none;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 6px darkslategrey;
  }

  hr{
      margin: 1vh 0;
  }

  .name{
      color: teal;
      font-weight: 900;
  }

  .username{
      color: blue;
  }

  .data{
    padding: 20px;
  }
  .btn:hover{
      cursor: pointer;
      opacity: 1;
      font-size: larger;
      transition: ease-in-out;
      transition-duration: 0.5s;
      box-shadow: 0px 3px darkslategrey;
  }

  .btn:active{
      box-shadow: none;
      top: 3px;
  }

  @keyframes butHover{
    0%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
        font-size: 1.5em;
    }
  }
  
  .image{
    padding: 20px;
  }
  
  #image{
    border-radius: 50%;
  }

  @media screen and (max-width:600px){
      .card{
          width: 80%;
      }
      .heading{
          font-size: smaller;
      }
      .row{
        flex-direction: column;
        justify-content: space-around;
    }
    .image{
        display: flex;
        justify-content: center;
    }
    .nav{
      flex-direction: row;
      justify-content: space-between;
      flex-basis: 20%;
      height: 14vh;
      background-color: white;
    }
    .houseName{
      padding-top: 10px;
      text-align: right;
      color: white;
      background-color:black;
      flex-grow: 0.8;
      padding-right: 8px;
    }
    .sigil img{
      height: 8vh;
      width: 8vh;
    }
  }

  @media screen and (max-width:370px){
    .card{
        font-size: smaller;
    }
    .heading{
        font-size: x-small;
    }
  }

  @keyframes fadeOut {
      0%{
          opacity: 1;
      }
      50%{
          opacity: 0;
      }
      100%{
        opacity: 1;
      }
  }

  .row.myAnimate{
    animation: fadeOut 1s linear 1;
  }