@import url('https://fonts.googleapis.com/css?family=Quicksand');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
  }
  
  body{
    background: #d4d4d4;
  }
  
  .container{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .heading{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
  }
  
  .row{
    background-color: white;
    display: flex;
    border: none;
    flex-direction: row;
    border-radius: 3vh;
    border-bottom: none;
  }
  
  .prof{
    display: flex;
    justify-content: center;
  }
  
  .card{
    width: 500px;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .btn{
    flex-grow: 100%;
    padding: 10px;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 3vh;
    width: 100%;
    opacity: 0.7;
  }

  hr{
      margin: 1vh 0;
  }

  .name{
      color: teal;
      font-weight: 900;
  }

  .username{
      color: blue;
  }

  .data{
    padding: 20px;
  }
  .btn:hover{
      cursor: pointer;
      opacity: 1;
      transition: ease-in 300ms;
  }
  
  .image{
    padding: 20px;
  }
  
  #image{
    border-radius: 50%;
  }

  @media screen and (max-width:600px){
      .card{
          width: 80%;
      }
      .heading{
          font-size: smaller;
      }
      .row{
        flex-direction: column;
        justify-content: space-around;
    }
    .image{
        display: flex;
        justify-content: center;
    }
  }

  @media screen and (max-width:370px){
    .card{
        font-size: smaller;
    }
    .heading{
        font-size: x-small;
    }
  }
  